/*PaytoneOne Font*/

@font-face {
  font-family: 'PaytoneOne';
  src: url('../../assets/fonts/PaytoneOne/PaytoneOne-Regular.eot');
  src: local('Paytone One Regular'), local('PaytoneOne-Regular'),
    url('../..//assets/fonts/PaytoneOne/PaytoneOne-Regular.eot') format('embedded-opentype'),
    url('../../assets/fonts/PaytoneOne/PaytoneOne-Regular.woff2') format('woff2'),
    url('../../assets/fonts/PaytoneOne/PaytoneOne-Regular.woff') format('woff'),
    url('../../assets/fonts/PaytoneOne/PaytoneOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*SegoeUi*/

@font-face {
  font-family: 'SegoeUI';
  src: url('../../assets/fonts/SegoeUI/SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'), url('../../assets/fonts/SegoeUI/SegoeUI.eot') format('embedded-opentype'),
    url('../../assets/fonts/SegoeUI/SegoeUI.woff2') format('woff2'),
    url('../../assets/fonts/SegoeUI/SegoeUI.woff') format('woff'),
    url('../../assets/fonts/SegoeUI/SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../../assets/fonts/SegoeUI/SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
    url('../../assets/fonts/SegoeUI/SegoeUI-SemiBold.eot') format('embedded-opentype'),
    url('../../assets/fonts/SegoeUI/SegoeUI-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
    url('../../assets/fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../../assets/fonts/SegoeUI/SegoeUI-Bold.eot');
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
    url('../../assets/fonts/SegoeUI/SegoeUI-Bold.eot') format('embedded-opentype'),
    url('../../assets/fonts/SegoeUI/SegoeUI-Bold.woff2') format('woff2'),
    url('../../assets/fonts/SegoeUI/SegoeUI-Bold.woff') format('woff'),
    url('../../assets/fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-size: 16px;
  line-height: 149.8%;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h1,
h2 {
  font-family: 'PaytoneOne';
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: 'SegoeUI';
  text-align: start;
  font-size: 22px;
}

h4 {
  font-family: 'SegoeUI';
  font-weight: 600;
  text-align: center;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  h4 {
    text-align: start;
  }
}

:is(p, button, input) {
  font-family: 'SegoeUI';
  font-weight: 400;
  text-align: center;
}

a {
  font-family: 'PaytoneOne';
}

.text-black {
  text-align: start;
}
