.header {
  background: url(../../assets/images/header-background.jpg) no-repeat center;
  background-size: cover;
  height: 70rem;
  padding: 2rem 5vw;
  display: flex;
}
.logo{
  height: 80px;
  margin: 0;
}