.header{
    background: url(../../assets/images/header-background.jpg) no-repeat center;
    background-size: cover;
    height: 80rem;
    padding: 2rem 5vw;
    display: flex;
    justify-content: space-between;
}
