.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main '
    'footer';
}

.header {
  grid-area: header;
}

.main-content {
  background: url(../../assets/images/main-background.jpg) no-repeat center;
  background-size: cover;
  grid-area: main;
  display: flex;
  justify-content: center;
}

.footer {
  grid-area: footer;
}
