.section-father {
  border: 1px solid grey;
  margin-left: 1rem;
  margin-right: 1rem;
  background: linear-gradient(
    180deg,
    rgba(50, 42, 39, 0) 0%,
    rgba(45, 40, 40, 0.85) 33.85%,
    #2d2828ab 49.48%,
    #2d2828 68.75%,
    #2d2828 82.29%,
    #2d2828 100%
  );
  margin-top: -45rem;
}

/*alpine*/
.section-content-art-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-art {
  margin-left: 1.8rem;
  width: 80%;
  text-align: center;
}
.section-h1 {
  font-size: 3rem;
  color: white;
}
.section-h3 {
  margin-top: -2rem;
  color: white;
  margin-bottom: 2rem;
}
.section-p {
  color: rgba(255, 255, 255, 0.603);
}
.section-form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-input {
  width: 250px;
  height: 30px;
  border-radius: 50px;
  outline: none;
  border: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}
.section-btn {
  width: 150px;
  height: 30px;
  border-radius: 50px;
  outline: none;
  background-color: rgba(255, 255, 0, 0);
  color: white;
  border: 1px solid red;
}

/*lista*/

.section-list {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.section-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 130px;
}
.section-li {
  width: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.li-img {
    width: 83px;
}
.hr {
  border: 0.1px solid white;
  margin-top: 5rem;
}

/*imagenes*/

.section-img {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img {
  width: 250px;
  height: 270px;
  margin-bottom: -3rem;
}
.div-img {
  border: 1px solid white;
  width: 100%;
}

/*marketing*/

.section-marketing{
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
}
.section-h2{
  color: white;
}
.hr2{
  border: 1px dashed white;
  width: 190px;
}
.vector{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.section-vector-btn{
  margin-top: 1rem;
  width: 142px;
  height: 27px;
  background: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
  border-radius: 20px;
  border: none;
  outline: none;
  margin:auto;
}

/*notificacion*/

.section-notificaciones-div{
  display: flex;
  margin-left: 1rem;
  margin-top: 3rem;
}
.eclipse{
width: 35px;
height: 35px;
border-radius: 50%;
background: #FF1640;
display: flex;
align-items: center;
justify-content: center;
margin-top: .5rem;
}
.n1{
  font-size: 1.5rem;
  color: white;
}
.n2{
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
}

/*Dismiss all*/

.Dismiss{
  display: flex;
  margin-left: 1rem;
  margin-top: 3rem;
}
.cont-eclipse{
  width: 131px;
  height: 35px;
  border-radius: 30px;
  background-color: #C4C4C4;
  display: flex;
  padding-left: .5rem;
}
.circulo-mayor{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circulo-menor{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid black;
}
.circulo-p{
  margin-top: .5rem;
  margin-left: .5rem;
  font-size: 1rem;
}