.section {
  padding: 5rem 5vw;
}

.section-father {
  border: 1px solid grey;
  margin-left: 1rem;
  margin-right: 1rem;
  background: linear-gradient(
    180deg,
    rgba(50, 42, 39, 0) 0%,
    rgba(45, 40, 40, 0.85) 33.85%,
    #2d2828ab 49.48%,
    #2d2828 68.75%,
    #2d2828 82.29%,
    #2d2828 100%
  );
  margin-top: -60rem;
}

/*hero*/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section__column {
  display: flex;
  flex-direction: column;
}

.hero-section__title {
  color: white;
  margin: 1rem 0;
}
.hero-section__subtitle {
  color: white;
  margin-bottom: 1rem;
}
.hero-section__text {
  color: rgba(255, 255, 255, 0.603);
}
.form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form__input {
  /* padding: 0.5rem 3rem 0.5rem 1rem; */
  padding: 0.7rem 8vw;
  border-radius: 50px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.form__input::placeholder {
  color: white;
}

.hr {
  border: 0.1px solid white;
}

/*lista*/

.section-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 2.5rem;
}
.section-li {
  display: flex;
  justify-content: center;
}

/*imagenes*/

.section-img {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.figure-img {
  border: 1px solid white;
  width: 100%;
}

/*marketing*/

.section--marketing{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
}
.section--h2{
  margin-top: .5rem;
  color: var(--white);
}
.figure--line{
  width: 300px;
  height: 2rem;
  padding-top: .5rem;
}
.span--button{
  font-size: 2rem;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}


/*notificaciones*/
.Notifications{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 2rem;
}
/*.section-unread{
  
}*/
.cont-circle-1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-1{
  width: 30px;
  height: 30px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 1.2rem;
}
.unread-p{
  font-size: .9rem;
  color: white;
  padding-left: 1rem;
}


.section-dismiss{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-circle{
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color:  #C4C4C4;
  padding-left: .5rem;
}
 
.circle-long{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
}
.circle-short{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
}
.circle-p{
  padding-left: 1rem;
  font-size: 1rem;
  padding-right: 1rem;
}



/*comentarios*/


.notifications-rosario{
  display: flex;
  flex-direction: column;

  padding-left: 1rem;
  padding-right: 7.2rem;
}
.rosario{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #B5B6B8;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;

}
.content-img-title{
  display: flex;
}
.cont-title{
  padding-left: 1rem;
}
.cont-figure{
  display: flex;
  align-items: flex-end;
}
.figure1{
  width: 50px;
  height: 50px;
}
.figure2{
  width: 20px;
  height: 20px;
}
.title-text{
  padding-left: .5rem;
  padding-right: .5rem;
}
.title{
  padding-bottom: 1rem;
}