.section {
  padding: 5rem 5vw;
}

.section-father {
  border: 1px solid grey;
  margin-left: 1rem;
  margin-right: 1rem;
  background: linear-gradient(
    180deg,
    rgba(50, 42, 39, 0) 0%,
    rgba(45, 40, 40, 0.85) 33.85%,
    #2d2828ab 49.48%,
    #2d2828 68.75%,
    #2d2828 82.29%,
    #2d2828 100%
  );
  margin-top: -45rem;
}

/*alpine*/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section__column {
  display: flex;
  flex-direction: column;
}

.hero-section__title {
  color: white;
  margin: 1rem 0;
}
.hero-section__subtitle {
  color: white;
  margin-bottom: 1rem;
}
.hero-section__text {
  color: rgba(255, 255, 255, 0.603);
}
.form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form__input {
  /* padding: 0.5rem 3rem 0.5rem 1rem; */
  padding: 0.7rem 8vw;
  border-radius: 50px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.form__input::placeholder {
  color: white;
}

.hr {
  border: 0.1px solid white;
}
/*lista*/

.section-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 2.5rem;
}
.section-li {
  display: flex;
  justify-content: center;
}

/*imagenes*/

.section-img {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.div-img {
  border: 1px solid white;
  width: 100%;
}

/*marketing*/

.section-marketing {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.section-h2 {
  color: white;
}
.hr2 {
  border: 1px dashed white;
  width: 190px;
}
.vector {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.section-vector-btn {
  margin-top: 1rem;
  width: 142px;
  height: 27px;
  background: linear-gradient(180deg, #864a23 0%, #6a3a1b 100%);
  border-radius: 20px;
  border: none;
  outline: none;
  margin: auto;
}

/*notificacion*/

.section-notificaciones-div {
  display: flex;
  margin-left: 1rem;
  margin-top: 3rem;
}
.eclipse {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ff1640;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.n1 {
  font-size: 1.5rem;
  color: white;
}
.n2 {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
}

/*Dismiss all*/

.Dismiss {
  display: flex;
  margin-left: 1rem;
  margin-top: 3rem;
}
.cont-eclipse {
  width: 131px;
  height: 35px;
  border-radius: 30px;
  background-color: #c4c4c4;
  display: flex;
  padding-left: 0.5rem;
}
.circulo-mayor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circulo-menor {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid black;
}
.circulo-p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

/*comentarios de las notificaciones*/

.section-notifi-father {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*article 1*/
.section-art1 {
  display: flex;
  flex-wrap: wrap;
}
.color {
  width: 90%;
  margin-left: 0.9rem;
  height: 220px;
  background-color: #b5b6b8;
}
.imagenes {
  display: flex;
}
.div1 {
  margin-top: 1rem;
  display: flex;
}
.img1 {
  margin-left: 1rem;
  width: 55px;
  height: 55px;
  display: flex;
}
.img2 {
  margin-top: 2.5rem;
  margin-left: -1rem;
  width: 17, 2px;
  height: 13, 83px;
}
.text2 {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.text2-h4 {
  margin-top: 0.5rem;
}
.text2-p {
  margin-top: -1.2rem;
}
.text3-h3 {
  font-size: 1.4rem;
  margin-left: 1rem;
}
.text3-p {
  margin-left: 1rem;
}
.text4 {
  width: 80%;
  text-align: center;
  padding: 1rem;
  margin-left: 0.9rem;
}
.text4-h3 {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.65);
}
.text4-p {
  color: rgba(255, 255, 255, 0.596);
}

/*article2*/

.section-art2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}
.recent-eclipse {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.Recent {
  color: white;
  font-size: 1.2rem;
}
.unread {
  font-size: 1rem;
  color: #222222;
}
.cont-eclipse1 {
  align-items: center;
  width: 131px;
  height: 35px;
  border-radius: 30px;
  background-color: #c4c4c4;
  display: flex;
  padding-left: 1rem;
}
