.section {
  padding: 5rem 5vw;
}

.section-father {
  max-width: 1200px;
  border: 1px solid grey;
  margin-left: 1rem;
  margin-right: 1rem;
  background: linear-gradient(
    180deg,
    rgba(50, 42, 39, 0) 0%,
    rgba(45, 40, 40, 0.85) 33.85%,
    #2d2828ab 49.48%,
    #2d2828 68.75%,
    #2d2828 82.29%,
    #2d2828 100%
  );
  margin-top: -60rem;
}

/*hero*/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section__column {
  display: flex;
  flex-direction: column;
}

.hero-section__title {
  color: white;
  margin: 1rem 0;
}
.hero-section__subtitle {
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}
.hero-section__text {
  color: rgba(255, 255, 255, 0.603);
}
.form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form__input {
  /* padding: 0.5rem 3rem 0.5rem 1rem; */
  padding: 0.7rem 8vw;
  border-radius: 50px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.form__input::placeholder {
  color: white;
}

.hr {
  border: 0.1px solid white;
}

/*lista*/

.section-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 2.5rem;
}
.section-li {
  display: flex;
  justify-content: center;
}

/*imagenes*/

.section-img {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .section-img {
    gap: 0;
    grid-template-columns: auto 18px auto 18px auto;
    grid-template-rows: 71px 180px auto;
  }

  .image1 {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .image2 {
    z-index: 1;
    grid-column: 2/5;
    grid-row: 1/3;
  }

  .image3 {
    grid-column: 4/6;
    grid-row: 2/4;
  }
}

.figure-img {
  border: 1px solid white;
  width: 100%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.25);
  min-height: 237px;
}

/*marketing*/

.section--marketing {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.section--h2 {
  margin-top: 0.5rem;
  color: var(--white);
}

.figure--line {
  width: 300px;
  height: 2rem;
  padding-top: 0.5rem;
}

.span--button {
  font-size: 2rem;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

/*notificaciones*/

.notifications {
  padding: 5rem 5vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

@media (min-width: 768px) {
  .notifications {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 90px 74px;
  }
}

.notification-card {
}

.notification-card__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

@media (min-width: 768px) {
  .notification-card__header {
    flex-wrap: nowrap;
  }
}

.container-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-circle__1 {
  width: 30px;
  height: 30px;
}

.container-circle__1--red {
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgb(255, 0, 0);
}

.container-circle__text {
  font-size: 0.9rem;
  color: white;
}

.notification-column--white {
  background-color: #c4c4c4;
  border-radius: 50px;
  display: flex;
  align-items: center;
  color: black;
  padding: 5px 8px;
}

.container-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-circle__long {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;
}

.container-circle__short {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  border: 2px solid black;
}

.container-circle--black {
  color: black;
}

.notification-card__main {
  margin-top: 25px;
  background: url(../../assets/images/main-background.jpg) no-repeat center;
  background-size: cover;
  padding: 1.2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .notification-card__main {
    grid-template-columns: 0.8fr 1.2fr;
  }
}

.profile {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.profile-container {
  position: relative;
  width: 60px;
  height: 60px;
}

.profile-container__image {
  width: 100%;
}

.profile-container__icon {
  position: absolute;
  top: 36px;
  left: 36px;
  max-width: 24px;
  max-height: 24px;
}

.notification-card__content h3 {
  text-align: start;
}

.notification-card__content p {
  margin-top: 11px;
  text-align: start;
}

.notification-text {
  margin-top: 30px;
}

.notification-text p {
  margin-top: 1rem;
  text-align: start;
  color: rgba(255, 255, 255, 0.7);
}

.notification-card__content {
}

/*comentarios*/
/* .notifications-rosario {
  display: flex;
  flex-direction: column;

  padding-left: 1rem;
  padding-right: 7.2rem;
}

.rosario {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #b5b6b8;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.content-img-title {
  display: flex;
}

.cont-title {
  padding-left: 1rem;
}

.cont-figure {
  display: flex;
  align-items: flex-end;
}
.figure1 {
  width: 50px;
  height: 50px;
}
.figure2 {
  width: 20px;
  height: 20px;
}
.title-text {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.title {
  padding-bottom: 1rem;
} */
