.button {
  border-radius: 40px;
}

.button--red {
  padding: 0.6rem 1.5rem;
  background-color: transparent;
  color: white;
  border: 1px solid red;
}
.button--brown {
  padding: 0.6rem 1.5rem;
  color: white;
  background: var(--brown);
  border-radius: 20px;
}
