.menu{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: circle(0.3% at 100% 0);
    transition: all .3s ease-in-out;
    backdrop-filter: blur(10px);
    display: grid;
    place-content:center;

}

.menu__navbar{
    display: grid;
    place-content: center;
}

.menu__list{
  display: flex;
  flex-direction: column;
  gap: 3rem;  
  justify-content: center;
  align-items: center;
}

.menu__link{
    color: white;
    position: relative;
}

.menu.open{
    clip-path: circle(102.8% at 100% 0);

}